<?xml version="1.0" encoding="UTF-8"?>

<plugin 
    xmlns="http://cordova.apache.org/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
    id="dfki-mmir-plugin-speech-nuance"
    version="0.12.3">

    <name>NuanceSpeechPlugin</name>
    
    <keywords>cordova,speech,asr,speech recognition,tts,text to speech</keywords>
    
    <description>
      Cordova plugin for Nuance speech recognizer / syntheziser (using Nuance SpeechKit).
    </description>
    
    <license>MIT</license>

    <author>DFKI</author>

    <engines>
        <engine name="cordova" version=">=5.0" />
    </engines>


    <js-module src="www/nuance.js" name="nuanceSpeechPlugin">
    	<clobbers target="window.cordova.plugins.nuanceSpeechPlugin" />
    </js-module>
    
    <!-- module implementation for integration into MMIR framework  -->
    <asset
        src="www/nuanceAudioInput.js"
        target="mmirf/env/media/nuanceAudioInput.js" />
    <asset
        src="www/nuanceTextToSpeech.js"
        target="mmirf/env/media/nuanceTextToSpeech.js" />
       
    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NuanceSpeechPlugin" >
		        <param name="android-package" value="de.dfki.iui.mmir.plugins.speech.nuance.NuanceSpeechPlugin" />
		    </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
			<uses-permission android:name="android.permission.INTERNET"></uses-permission>
			<uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
			<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
        </config-file>
        
        <source-file
            src="src/android/de/dfki/iui/mmir/plugins/speech/nuance/NuanceSpeechPlugin.java"
            target-dir="src/de/dfki/iui/mmir/plugins/speech/nuance" />
        
        <source-file
            src="src/android/de/dfki/iui/mmir/plugins/speech/nuance/Credentials.java"
            target-dir="src/de/dfki/iui/mmir/plugins/speech/nuance" />
        
        <source-file
            src="src/android/de/dfki/iui/mmir/plugins/speech/nuance/NuanceEngine.java"
            target-dir="src/de/dfki/iui/mmir/plugins/speech/nuance" />
        
        <source-file
            src="res/android/res/raw/rawbeep.wav"
            target-dir="res/raw" />
        
        
        <!-- Nucance libraries:
         		
         		put/copy the libraries from your Android Dragon Mobile SDK into your local repo
         		(YOU SHOULD NOT upload these into a public repo!)
         -->
        
        <source-file
            src="res/android/libs/nmdp_speech_kit.jar"
            target-dir="libs" />
        
        <source-file
            src="res/android/libs/armeabi/libnmsp_sk_speex.so"
            target-dir="libs/armeabi" />
            
        <source-file
            src="res/android/libs/armeabi-v7a/libnmsp_sk_speex.so"
            target-dir="libs/armeabi-v7a" />
        
        <source-file
            src="res/android/libs/arm64-v8a/libnmsp_sk_speex.so"
            target-dir="libs/arm64-v8a" />
        
        <source-file
            src="res/android/libs/x86/libnmsp_sk_speex.so"
            target-dir="libs/x86" />
        
    </platform>
    
    <!-- ios -->
    <platform name="ios">
        
        <config-file target="config.xml" parent="/*">
            <feature name="NuanceSpeechPlugin" >
                <param name="ios-package" value="NuanceSpeechPlugin" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/de/nuancespeechplugin/Credentials.h" />
        <source-file src="src/ios/de/nuancespeechplugin/Credentials.m"/>
        
        <header-file src="src/ios/de/nuancespeechplugin/ICredentials.h" />
        
        <header-file src="src/ios/de/nuancespeechplugin/NuanceSpeechPlugin.h" />
        <source-file src="src/ios/de/nuancespeechplugin/NuanceSpeechPlugin.m" />
        
        <!-- Nucance libraries:
         		
         		put/copy the libraries from your iOS Dragon Mobile SDK into your local repo
         		(YOU SHOULD NOT upload these into a public repo!)
         -->
         
        <framework src="res/ios/frameworks/SpeechKit.framework" custom="true"/>
        <framework src="AVFoundation.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="Foundation.framework" />
        <framework src="Security.framework" />
        <framework src="UIKit.framework" />
        

    </platform>
    
</plugin>
